<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <header>
      <%- include("./partials/_header.ejs", {isAuth: isAuth, rights:
      user.rights}) %>
    </header>

    <main class="profile-main">
      <h1><%= user.name %>'s Profile</h1>
      <div class="profile-courses">
        <% if(courses.length <= 0) { %>
        <p>You are not assigned to any Projects</p>
        <p>
          Go to
          <span
            ><a href="/" style="text-decoration: underline">Home page</a></span
          >
          to assign
        </p>
        <% } else {%>
        <h2>Assigned Projects</h2>
        <ul>
          <% for(let course of courses) { %>
          <li><%= course.name %></li>
          <% } %>
        </ul>
        <% } %>
      </div>

      <div class="profile-assigned-tasks">
        <%if(tasks.length <= 0) { %>
        <p>No tasks have been assigned to you</p>
        <% } else { %>
        <h2 style="margin-top: 2rem">Assigned Tasks</h2>
        <ul>
          <% for(let task of tasks) { %>
          <li>
            <a href=" /comments/<%= task.name %>/<%= task.id %>"
              ><%= task.name %></a
            >
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>
