<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style>
      .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 55%;
        margin: 0 auto;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }

      .active,
      .accordion:hover {
        background-color: #ccc;
      }

      .panel {
        padding: 16px;
        display: none;
        overflow: hidden;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <header>
      <%- include('./partials/_header', {isAuth: isAuth, rights: rights}) %>
    </header>

    <main>
      <div class="main-header">
        <h1><%= title %></h1>

        <% if(rights=='admin') { %>
        <a class="new-program-btn" href="/<%= title %>/new-program">
          <span><i class="fa fa-plus"></i></span>
          New Task
        </a>
        <% } else if (rights=='student') {%>
        <form action="/students/enroll/<%= title %>" method="post">
          <button type="submit">Enroll</button>
        </form>
        <!-- <a class="new-program-btn" href="/students/enroll/<%= title %>"> Enroll </a> -->
        <% } %>
      </div>

      <div class="div-programs">
        <% if(data.length <= 0) { if(rights=='admin') { %>
        <div class="add-program-div">
          <i class="fa fa-plus"></i>
          <p>Add tasks from top right corner</p>
        </div>

        <% } else { %>
        <div class="nothing-div">
          <p>no Tasks yet</p>
        </div>
        <%} } else { %>
        <ul>
          <% for(var i=0; i < data.length; i++) { %>
          <button class="accordion">
            + <%= data[i].name %> - <i>author</i>
          </button>
          <div class="panel">
            <p><%= data[i].desc %></p>
          </div>
          <% } %>
        </ul>
        <% } %>
      </div>
    </main>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
