<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title><%= taskTitle %></title>
  </head>
  <body>
    <header>
      <%- include("./partials/_header", {isAuth: isAuth, rights: rights}) %>
    </header>

    <main class="comments-main">
      <section class="header">
        <h1><%=taskTitle %></h1>
        <h2>Comments Section</h2>
      </section>
      <section class="comments">
        <% if(comments.length <= 0) { %>
        <h4 style="color: grey">Any comments concerning this task will appear here</h4>
        <% } else { %>
        <ul class="comments-list">
          <% for(let comment of comments) { %>
          <li class="comment-item">
            <%= comment.content.comment %> <br />

            <i>from <%= comment.commentBy %></i>
          </li>
          <% } %>
        </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
