<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <header>
      <%- include('./partials/_header',{isAuth: isAuth, rights: rights}) %>
    </header>

    <main class="landingpage-main">
      <div class="main-header">
        <h1>Available Projects</h1>

        <% if(rights=='admin') { %>
        <a class="new-project-btn" href="/new-project">
          <span><i class="fa fa-plus"></i></span>
          New Project
        </a>
        <% } %>
      </div>

      <% if(data.length <= 0) { %>

      <div class="add-program-div">
        <p>Add a Project from top right corner</p>
      </div>

      <% } else { %>

      <div class="div-cards">
        <% for(let item of data) { %>

        <div class="card">
          <a href="/projects/<%= item.id %>">
            <h3 class="card-title"><%= item.title %></h3>
            <p class="card-desc"><%= item.description %></p>
            <% if(rights=='admin') { %>
            <form action="/admin/delete-project/<%= item.id %>" method="post">
              <button name="delete" class="delete-btn">Delete Project</button>
            </form>
            <% } %>
          </a>
        </div>

        <% } %>
      </div>

      <% } %>
    </main>
  </body>
</html>
