<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <%- include("./partials/_header.ejs", {isAuth: isAuth, rights:
      user.rights}) %>
    </header>

    <main class="profile-main">
      <h1><%= user.name %>'s Profile</h1>
      <div class="profile-courses">
        <% if(projects.length <= 0) { %>
        <p style="color: grey">You are not enrolled to any projects</p>
        <p>
          Go to
          <span
            ><a href="/" style="text-decoration: underline">Home page</a></span
          >
          to enroll
        </p>
        <% } else {%>
        <h2>Enrolled Projects</h2>
        <ul>
          <% for(let project of projects) { %>
          <li><%= project.name %></li>
          <% } %>
        </ul>
        <% } %>
      </div>

      <div class="profile-assigned-tasks">
        <h2 style="margin-top: 2rem">Assigned Tasks</h2>
        <%if(tasks.length <= 0) { %>
        <p style="color: grey">No tasks have been assigned to you</p>
        <% } else { %>

        <ul>
          <% for(let task of tasks) { %>
          <li>
            <a href=" /comments/<%= task.name %>/<%= task.id %>">
              <%= task.name %>
            </a>
            <em> from <strong> <%= task.projectTitle %></strong> project</em>
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>
