<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Leads</title>
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <%- include('./partials/_header', {isAuth: isAuth, rights: rights}) %>
    </header>

    <main class="teamleads-main">
      <div class="main-header">
        <h1>Available Team Leads</h1>

        <% if(rights=='admin') { %>
        <a class="new-student-link" href="/new-user">
          <span><i class="fa fa-plus"></i></span>
          New Team Lead
        </a>
        <% } %>
      </div>

      <% if(data.length <= 0) { %> <% if(rights=='admin') { %>
      <div class="add-program-div">
        <p>Add a Team Lead from top right corner</p>
      </div>

      <% } else { %>
      <div class="nothing-div">
        <p>no Team Leads available yet</p>
      </div>
      <%} } else { %>

      <div class="students-div">
        <% for(var i=0; i < data.length; i++) { %>
        <div class="student">
          <a href="/user/<%= data[i].name %>/<%= data[i].id %>">
            <h3><%= data[i].name %></h3>
          </a>
          <p><%= data[i].email %></p>
          <p>
            <span class="circle-icon">
              <% if(data[i].status == 'active') { %>
              <i class="fa fa-stack" style="background-color: green"></i>
              <% } else if(data[i].status == 'inactive') { %>
              <i class="fa fa-stack" style="background-color: grey"></i>
              <% } %>
            </span>

            <%= data[i].status %>
          </p>
          <input
            type="hidden"
            id="user-id"
            name="userId"
            value="<%= data[i].id %>"
          />
          <% if(rights==='admin') { %>
          <i class="fa fa-trash" id="delete-btn"></i>
          <% } %>
        </div>
        <% } %>
      </div>
      <% } %>
    </main>

    <script>
      var userId = document.getElementById("user-id").value;
      var url = `http://localhost:5000/admin/delete-user/${userId}`;

      document
        .getElementById("delete-btn")
        .addEventListener("click", function () {
          fetch(url, {
            method: "POST",
          })
            .then((res) => res.json())
            .then(() => {
              window.location.reload();
            });
        });
    </script>
  </body>
</html>
